.container {
  width: 60vw;
  margin: auto;
}

.faqOuter {
  background-color: var(--beige);
  margin: var(--section) auto;
  height: 40vw;
  display: block;
}

.faqHeading {
  color: white;
  text-align: center;
  font-size: 3em;
  padding-top: 1.5em;
  font-family: var(--captions);
  font-weight: 500;
}

.faqInner {
  margin: auto;
  width: 50vw;
  height: 35vw;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
}

.faqItem {
  text-align: center;
  display: flex;
  flex-basis: 50%;
  flex-wrap: wrap;
}

.faqText {
  letter-spacing: 0.02em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  padding: 0 2em;
  line-height: 2;
}

.faqBtn {
  text-align: center;
  margin: 2em auto;
}

.btnLink {
  color: white;
}

.btnLink:hover {
  transition: none;
  opacity: 1;
}

@media all and (min-width: 320px) and (max-width: 1280px) {
  .container {
    height: 100%;
  }

  .faqOuter {
    width: var(--container);
  }

  .faqHeading {
    font-size: 2em;
  }

  .faqInner {
    width: 90vw;
    height: auto;
    display: block;
  }

  .faqText {
    line-height: initial;
    padding: 2em 0;
  }

  .faqBtn {
    margin-top: 2em;
    margin-bottom: 2em;
  }
}
