.btnWrapper {
  font-size: 1rem;
  width: 9em;
  height: 9em;
  position: relative;
}

.btnBorder {
  width: 9em;
  height: 9em;
  border: var(--border-btn);
  border-radius: 50%;
  z-index: -1;
  position: relative;
  opacity: 1;
}

.btnWrapper:hover {
  opacity: 0.7;
  transition: opacity 0.5s ease;
}

.btn {
  background: transparent;
  position: absolute;
  top: 0;
  left: 0;
  border: none;
  width: 9em;
  height: 9em;
  font-size: 1rem;
}

.headerBtn {
  position: relative;
  top: -4em;
  left: 15em;
}

.btnMd {
  margin: auto;
  width: 9rem;
}

.btnSm,
.btnWrapper,
.btnSm .btnBorder,
.btnSm .btn {
  width: 6em;
  height: 6em;
}

@media all and (min-width: 320px) and (max-width: 360px) {
  .btnWrapper,
  .btn {
    font-size: 0.7rem;
  }
}

@media all and (min-width: 360px) and (max-width: 1024px) {
  .btnWrapper,
  .btn {
    font-size: 0.8rem;
  }
}

@media all and (min-width: 320px) and (max-width: 1024px) {
  .btnWrapper {
    width: 100%;
    height: 100%;
  }

  .btnBorder {
    margin: auto;
  }

  .btn {
    width: 100%;
    height: 100%;
    text-align: center;
  }

  .headerBtn {
    top: 0;
    left: 0;
    margin: auto;
  }
}
