.container {
  display: flex;
  align-items: center;
  height: 50vh;
}

.text {
  font-size: var(--text-xl);
  font-family: var(--font-secondary);
  text-align: center;
  width: 70%;
  margin: auto;
  position: relative;
}

.imgWrapper {
  position: absolute;
  left: 0;
  top: -5rem;
  z-index: -1;
  height: 10rem;
  width: 10rem;
  transform: rotate(-25deg);
}

.img {
  height: 10rem;
  opacity: 0.7;
  width: auto;
  height: 20rem;
  transform: scaleX(-1);
  float: left;
}

@media all and (min-width: 320px) and (max-width: 768px) {
  .container {
    height: 100%;
  }

  .imgWrapper {
    top: initial;
    bottom: 0;
  }
  .img {
    position: absolute;
    left: -1rem;
    height: 10rem;
  }
}
