.container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5rem;
  margin-bottom: 5rem;
  height: 30em;
  background: #e0dbda;
}

.text {
  text-align: center;
}

.caption {
  font-size: 2rem;
  letter-spacing: 0.05em;
  font-family: var(--bold);
  font-weight: 500;
  color: white;
}

.subcaption,
.paragraph {
  letter-spacing: 0.2em;
  line-height: var(--line-height);
}
.subcaption {
  font-weight: 600;
  padding: 1em 0;
  text-transform: lowercase;
}

.form {
  padding-top: 1em;
  height: 100%;
}

.formInner {
  display: flex;
  flex-wrap: wrap;
}

.input {
  width: 25rem;
  height: 2.5rem;
  text-indent: 2em;
  font-size: 0.8rem;
  border: none;
  margin: auto;
}

.input::placeholder {
  font-size: 1.3em;
}

.input::-moz-placeholder {
  font-size: 18px;
}

.submitMsg {
  text-align: center;
  color: white;
  opacity: 1;
  animation: fadeIn ease 1s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.about.subcaption {
  margin: 0 auto;
  font-weight: 600;
}

@media all and (min-width: 320px) and (max-width: 480px) {
  .input {
    width: 70vw;
    height: 4em;
    margin: 0;
    text-indent: 0.5rem;
  }

  .input::placeholder {
    text-align: center;
  }

  .formInner {
    justify-content: center;
  }

  .btn {
    width: 70vw;
  }

  .caption {
    font-size: 1.4em;
  }
}

@media all and (min-width: 320px) and (max-width: 768px) {
  .form {
    flex-wrap: wrap;
  }

  .caption {
    font-size: 1.8em;
  }

  .subcaption {
    font-size: 0.9em;
  }

  .line {
    font-size: 0.9em;
  }
}
