.newsletter {
  width: 100%;
  margin: auto;

  padding-top: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.newsletterInput {
  width: 60%;
}

.newsletterInput::placeholder {
  font-size: 1rem;
}

.newsletterInput::-moz-placeholder {
  font-size: 18px;
}

@media all and (min-width: 768px) and (max-width: 1024px) {
  .newsletterInput {
    width: 40%;
  }
}
