.container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5rem;
  height: 30em;
  background: var(--beige);
}

.text {
  text-align: center;
}

.caption {
  font-size: 2rem;
  letter-spacing: 0.05em;
  font-family: "Oswald";
  font-weight: 500;
  color: white;
}

.subcaption,
.paragraph {
  letter-spacing: 0.2em;
  line-height: var(--line-height);
}
.subcaption {
  font-family: "Oswald";
  font-weight: 400;
  padding: 1em 0;
  text-transform: lowercase;
}

.form {
  display: flex;
  flex-wrap: wrap;
  padding-top: 1em;
  justify-content: center;
}

.input {
  width: 25em;
  border: none;
  margin-right: 0.5em;
  text-indent: 2em;
}

.input::placeholder {
  font-size: 1.3em;
}

.input::-moz-placeholder {
  font-size: 18px;
}

.about.subcaption {
  margin: 0 auto;
}

@media all and (min-width: 320px) and (max-width: 480px) {
  .input {
    width: 70vw;
    height: 4em;
    margin-right: 0;
  }

  .input::placeholder {
    font-size: 1.4em;
    text-align: center;
  }

  .btn {
    width: 70vw;
  }

  .caption {
    font-size: 1.4em;
  }
}

@media all and (min-width: 320px) and (max-width: 768px) {
  .form {
    flex-wrap: wrap;
  }

  .caption {
    font-size: 1.8em;
  }

  .subcaption {
    font-size: 0.9em;
  }

  .line {
    font-size: 0.9em;
  }
}
