.contactForm {
  width: 60vw;
  height: 100%;
  flex-wrap: wrap;
  margin: auto;
}

.info,
.form {
  height: 50vh;
  width: 50%;
  display: flex;
}

.info {
  min-width: 10em;
  border-right: var(--border-gray);
}

.form {
  min-width: 20em;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.infoWrapperOutter {
  height: 100%;
  display: flex;
  margin-left: auto;
  margin-right: 4rem;
}

.infoWrapperInner {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.title {
  padding-bottom: 1em;
  font-weight: 600;
}

.text {
  padding-bottom: 2em;
}

.formWrapperInner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.formWrapperInner {
  padding-left: 2em;
  margin-left: 2rem;
}

@media only screen and (min-width: 320px) and (max-width: 768px) {
  .contactForm,
  .formWrapperInner {
    width: 80vw;
    height: 100%;
    overflow: hidden;
  }
}

@media only screen and (min-width: 320px) and (max-width: 1120px) {
  .info,
  .form {
    height: 100%;
    width: 100%;
    display: flex;
  }

  .info {
    width: 100%;
    border-right: none;
  }

  .title {
    border-bottom: var(--border-gray);
    padding-bottom: 0;
  }

  .text {
    padding-top: 1em;
  }

  .infoWrapperOutter {
    margin-right: 0;
  }

  .formWrapperInner {
    padding-left: 0;
    margin-left: 0;
  }

  .btn {
    margin-top: 1rem;
  }
}
