.contactForm {
  width: 60vw;
  height: 50vh;
  flex-wrap: wrap;
  margin: auto;
  margin-bottom: var(--section);
}

.info,
.form {
  height: 50vh;
  width: 50%;
  display: flex;
}

.info {
  min-width: 10em;
}

.form {
  min-width: 20em;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.infoWrapperOutter {
  height: 100%;
  display: flex;
  border-right: 2px solid var(--beige);
}

.infoWrapperInner {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.title {
  font-weight: 600;
  padding-bottom: 1em;
}

.text {
  padding-bottom: 2em;
}

.formWrapperInner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.infoWrapperInner,
.formWrapperInner {
  padding: 2em;
}

.btn {
  margin-left: 2em;
}

@media only screen and (min-width: 320px) and (max-width: 360px) {
  .contactForm {
    width: 90vw;
    height: 100%;
    overflow: hidden;
  }
}

@media only screen and (min-width: 360px) and (max-width: 1120px) {
  .contactForm {
    width: 80vw;
    height: 100%;
  }
}

@media only screen and (min-width: 320px) and (max-width: 1120px) {
  .info,
  .form {
    height: 100%;
    width: 100%;
    display: flex;
  }

  .info {
    width: 100%;
  }

  .title {
    border-bottom: 2px solid var(--beige);
    padding-bottom: 0;
  }

  .text {
    padding-top: 1em;
  }

  .infoWrapperOutter {
    border-right: none;
  }
}
