.slideContainer {
  margin-top: 2em;
  height: 100%;
  width: 100%;
  margin: auto;
  height: 70vh;
}

.img {
  height: 40vh;
  object-fit: cover;
  margin: auto;
}

.captionWrapper {
  text-align: center;
}

.caption {
  margin: 1rem 0;
  font-size: var(--text-sm);
}

.heading {
  text-align: center;
  padding-bottom: 3rem;
  font-size: var(--text-lg);
}

.btn {
  outline: none;
  border: none;
  background: inherit;
  font-size: 1rem;
  border-bottom: var(--border-gray);
}

@media all and (min-width: 320px) and (max-width: 768px) {
  .heading {
    font-size: var(--text-lg);
  }
}
@media all and (min-width: 768px) and (max-width: 1024px) {
  .slideContainer {
    height: 40vh;
  }
}
