.slideContainer {
  margin-top: 2em;
  height: 100%;
  width: var(--container);
  margin: auto;
  height: 70vh;
}

.img {
  height: 40vh;
  object-fit: cover;
  margin: auto;
}

.captionWrapper {
  text-align: center;
}

.caption {
  margin: 1rem 0;
}

.heading {
  text-align: center;
  padding-bottom: 3rem;
}

.btn {
  outline: none;
  border: none;
  background: inherit;
  font-size: 1rem;
  border-bottom: 2px solid var(--gray);
}

@media all and (min-width: 768px) and (max-width: 1024px) {
  .slideContainer {
    height: 40vh;
  }
}
