.container {
  width: 60vw;
  margin: auto;
}

.links {
  margin-top: 2em;
  border: var(--border-gray);
  max-width: 30vw;
  margin: auto;
}

.link {
  font-weight: 400;
  display: inline-block;
  margin: 1em;
  text-transform: lowercase;
}

.subcaption span {
  margin-bottom: 1em;
}

@media all and (min-width: 320px) and (max-width: 768px) {
  .links {
    max-width: 40vw;
  }
}
