.header {
  background-color: var(--beige);
  height: 60vh;
  position: relative;
}

.caption {
  width: 30vw;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: VogaRegular;
  color: white;
  font-size: var(--caption-size);
  letter-spacing: 0.02em;
  width: 100%;
  height: 100%;
}

.productWrapper {
  position: relative;
  top: -10em;
  display: flex;
  justify-content: center;
  margin: auto;
  width: 75vw;
  flex-wrap: wrap;
}

.imgWrapper {
  width: 30em;
  height: 100%;
  margin-right: 5em;
}

.imgWrapper::after {
  content: "";
  border-bottom: 2px solid var(--beige);
  width: 27em;
  display: inline-block;
  position: relative;
  top: 0.3em;
  left: 3rem;
}

.description {
  max-width: 30em;
  margin-top: 20em;
}

.p {
  padding: 2em 0;
}

.product {
  max-width: 30em;
  height: 50em;
  background-position: center;
  background-size: cover;
}

.productSlider {
  height: 100%;
}
@media only screen and (max-width: 900px) {
  .imgWrapper {
    margin-right: 0;
  }
  .description {
    margin-top: 5em;
    text-align: left;
  }
  .container {
    height: 100%;
  }
}

@media only screen and (max-width: 500px) {
  .header {
    height: 50vh;
  }
  .caption {
    text-align: center;
    font-size: 4em;
  }
  .navLink {
    margin-right: 0.5em;
    font-size: 0.8em;
  }
  .navLogoImg {
    height: 3em;
    width: 5em;
    float: right;
  }
  .product {
    height: 30em;
    width: 100%;
    margin: auto;
  }
  .productWrapper {
    width: 90vw;
  }
  .imgWrapper {
    width: 80vw;
  }
  .imgWrapper::after {
    width: 85%;
  }
}
