.container {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 50% 50%;
  grid-gap: 1em;
  align-items: center;
  margin: auto;
}

.imgWrapper {
  width: 100%;
  height: 100%;
  margin: auto;
}

.product {
  margin: auto;
  max-width: 30em;
  min-height: 50em;
  background-position: center;
  background-size: cover;
}

.name {
  color: var(--headings);
  font-size: 2em;
  font-weight: 600;
}

.caption {
  text-align: center;
  padding-top: 1em;
}

.price,
.button {
  font-weight: 600;
}

.caption,
.button {
  font-family: var(--text-font); /*replace with var elsewhere*/
}

.price {
  padding: 1em 0;
}

.button {
  border: 2px solid var(--beige);
  max-width: 30em;
  padding: 1em 2em;
  display: inline-block;
}
