.header {
  background-color: var(--beige);
  height: 60vh;
  position: relative;
}

.caption {
  width: 30vw;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: var(--captions);
  font-size: var(--caption-size);
  letter-spacing: var(--letter-spacing);
  font-weight: 500;
  color: white;
  width: 100%;
  height: 100%;
}

.productWrapper {
  position: relative;
  top: -10em;
  display: flex;
  justify-content: center;
  margin: auto;
  width: 75vw;
  flex-wrap: wrap;
}

.imgWrapper {
  width: 30em;
  height: 100%;
  margin-right: 5em;
}

.imgWrapper::after {
  content: "";
  border-bottom: 2px solid var(--beige);
  width: 90%;
  display: inline-block;
  position: relative;
  top: 0.3em;
  left: 3rem;
}

.description {
  max-width: 30em;
  margin-top: 20em;
}

.p {
  padding: 2em 0;
}

.product {
  max-width: 30em;
  height: 90vh;
  background-position: center;
  background-size: cover;
}

.productSlider {
  height: 100%;
}

@media all and (min-width: 320px) and (max-width: 768px) {
  .container {
    height: fit-content;
  }

  .header {
    height: 40vh;
  }

  .caption {
    text-align: center;
    font-size: 2em;
    font-weight: 600;
  }

  .navLink {
    margin-right: 0.5em;
    font-size: 0.8em;
  }

  .navLogoImg {
    height: 3em;
    width: 5em;
    float: right;
  }

  .product {
    height: 60vh;
    width: 100%;
    margin: auto;
  }

  .productWrapper {
    width: var(--container);
    top: -3em;
  }

  .imgWrapper {
    width: 80vw;
    margin-right: 0;
  }

  .description {
    margin-top: 3em;
    width: 85%;
  }
}
