.container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5rem;
  height: 30em;
  background: #dbdbdb;
}

.text {
  text-align: center;
  line-height: 1.5;
}

.caption {
  font-size: 2rem;
  letter-spacing: 0.05em;
  font-family: "Oswald";
  font-weight: 500;
  color: white;
}

.subcaption,
.paragraph {
  letter-spacing: 0.2em;
}
.subcaption {
  font-family: "Oswald";
  font-weight: 400;
  padding: 1em 0;
}

.paragraph {
  font-family: "Ralewawy";
  font-size: 1em;
  max-width: 35em;
  margin: 0 auto 1em auto;
}

.form {
  display: flex;
  padding-top: 1em;
  justify-content: center;
}

.input {
  width: 25em;
  border: none;
  margin-right: 0.5em;
  text-indent: 2em;
}

.input::placeholder {
  font-size: 1.3em;
}

.input::-moz-placeholder {
  font-size: 18px;
}

.btn {
  width: 10em;
  height: 2em;
  font-size: 1.3em;
  background: black;
  color: white;
  border: none;
}

.about.subcaption {
  margin: 0 20%;
}
