.container {
  width: 90vw;
  text-align: center;
  padding: 5rem 0;
  border-right: 1px solid black;
}

.brand {
  position: relative;
  right: -4.6em;
  top: -1em;
  background: white;
  width: 150px;
  transform: rotate(90deg);
  float: right;
}

.brand p {
  text-align: center;
  position: relative;
  right: 0;
  top: 0;
  text-transform: uppercase;
  font-size: 0.9em;
  font-family: Oswald;
  font-weight: 500;
  letter-spacing: 0.05em;
}
.caption span {
  font-family: VogaRegular;
  color: #dbdbdb;
  font-size: 4em;
  letter-spacing: 0.05em;
  width: 40vw;
  margin: auto;
}

.subcaption {
  font-family: Raleway;
  letter-spacing: 0.2em;
  font-size: 1.4em;
  padding-top: 0.5em;
  width: 40vw;
  margin: auto;
}

.mission.subcaption span {
  font-size: 0.8em;
}

.mission.caption span {
  font-size: 2em;
  color: black;
  font-weight: 500;
}

.mission.brand {
  left: -4.6em;
  float: none;
}

.mission.container {
  border-left: 1px solid black;
  border-right: none;
}
