.container {
  max-height: 55vh;
}

.headerImgs {
  display: flex;
  justify-content: center;
  overflow: hidden;
}
.headerImg {
  /* width: 23vw; */
  object-fit: cover;
  background-size: cover;
  width: 11em;
  flex: 1;
  min-height: 40vh;
  max-height: 55vh;
}

.heroHeader {
  height: 55vh;
  width: 100%;
  object-fit: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
}
