.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 55vh;
  margin: auto;
  border-bottom: var(--border-gray);
  margin-bottom: var(--section);
  margin-top: 4rem;
  position: relative;
}

.img {
  height: 36vh;
  width: 26vh;
  object-fit: cover;
  opacity: 0.4;
  position: absolute;
  z-index: -10;
}

.caption {
  width: 40%;
  text-align: center;
}

.subcaption {
  margin: 2rem 0;
  font-family: var(--font-primary);
  font-size: 1.2rem;
  color: var(--headings);
  position: relative;
  left: 10%;
  text-align: left;
}

.subcaption span {
  display: inline-block;
  font-weight: 200;
}

.year {
  font-family: var(--font-accent);
  font-size: var(--text-xxl);
}

.about .caption {
  width: 70%;
}

@media all and (min-width: 320px) and (max-width: 400px) {
  /* .caption {
    font-size: 1.2rem;
  }

  .subcaption {
    font-size: 1rem;
  } */

  .mainImg1 {
    height: 10rem;
  }
}

@media all and (min-width: 400px) and (max-width: 768px) {
  /* .caption {
    font-size: 2rem;
  } */

  .mainImg1 {
    height: 14rem;
  }
}

@media all and (min-width: 320px) and (max-width: 768px) {
  .section {
    width: 45vw;
  }

  .section:last-of-type {
    width: 90vw;
    margin: auto;
  }

  .mainImg1 {
    float: right;
    margin-right: 1rem;
    margin-left: 1rem;
  }

  /* .captionWrapper {
    bottom: 0;
    right: 0;
  } */

  /* .caption {
    width: auto;
  } */

  .subcaption {
    left: 0;
    margin: 1rem 0;
  }
}
