.container {
  text-align: center;
  padding: 5rem 0;
  border-right: 1px solid black;
}

.msgWrapper {
  position: relative;
  right: -5.6em;
  top: -1px;
  background: var(--background-color);
  max-width: 12em;
  min-width: 180px;
  transform: rotate(90deg);
  float: right;
}

.sideMsg {
  text-align: center;
  text-transform: uppercase;
  font-size: 0.9em;
  font-family: var(--bold);
  font-weight: 500;
  letter-spacing: 0.05em;
}

.caption {
  width: 100%;
  margin: auto;
}

.captionTxt {
  width: 100%;
  margin: 0 auto;
  display: inline-block;
  font-family: var(--captions);
  font-weight: 500;
  font-size: 2em;
  letter-spacing: 0.02em;
  color: var(--headings);
}

.subcaption {
  font-size: 1.2em;
  font-family: var(--body);
  font-weight: 400;
  letter-spacing: 0.2em;
  line-height: 1.4;
  padding-top: 0.5em;
  margin: 1em auto;
  width: 30vw;
}

/* ABOUT SECTION MAIN PAGE */

.about.container {
  padding-bottom: 0;
}

.about .captionTxt {
  width: 20vw;
  font-size: 2em;
  padding-bottom: 1em;
  font-weight: 400;
}

.about.container {
  border-left: 1px solid black;
  border-right: none;
}

.about .msgWrapper {
  left: -5.6em;
  top: 5px;
  float: none;
}

/* FEATURED SECTION MAIN PAGE */

.featured .subcaption,
.featured .subcaptionTxt {
  width: 20vw;
}

/* ABOUT PAGE */

.aboutPageSubHeader .subcaption {
  display: none;
}

.since {
  display: inline-block;
  width: 100%;
  margin: auto;
}

.year {
  width: 70%;
  font-family: var(--outlined);
  font-size: 4em;
}

.aboutProduct .captionTxt {
  color: var(--body);
  font-weight: 400;
  font-size: 1.8em;
  font-family: var(--body);
}

.aboutMaterials .caption {
  font-weight: 600;
  font-size: 1.4em;
}

@media all and (min-width: 320px) and (max-width: 360px) {
  .msgWrapper {
    top: 0.15em;
  }

  .sideMsg {
    font-size: 0.7em;
  }
}

@media all and (min-width: 360px) and (max-width: 768px) {
  .subcaption {
    width: 80vw;
    font-size: 1.2em;
  }

  .msgWrapper {
    top: 0.1em;
  }

  .sideMsg {
    font-size: 0.8em;
  }
}

@media all and (min-width: 320px) and (max-width: 1024px) {
  .caption {
    width: 77%;
  }

  .about .msgWrapper {
    top: 8px;
  }

  .aboutProduct.container,
  .aboutMaterials.container {
    flex-direction: column;
    padding-top: 0;
    padding-bottom: var(--section);
  }
}

@media all and (min-width: 320px) and (max-width: 768px) {
  .captionTxt {
    font-size: 1.3em;
  }

  .subcaption {
    width: 80vw;
  }

  .subcaptionTxt {
    font-size: 0.7em;
  }

  .about .captionTxt {
    font-size: 1.4em;
  }

  .about .captionTxt,
  .featured .subcaption,
  .featured .subcaptionTxt {
    width: 100%;
  }
}

@media all and (min-width: 360px) and (max-width: 1024px) {
  .about .captionTxt {
    width: 100%;
    font-size: 1.6em;
  }
}

@media all and (min-width: 1024px) and (max-width: 1280px) {
  .about .captionTxt {
    width: 30vw;
    font-size: 1.6em;
  }
}
