.container {
  width: 90vw;
  text-align: center;
  padding: 5rem 0;
  border-right: 1px solid black;
}

.msgWrapper {
  position: relative;
  right: -4.6em;
  top: -0.96em;
  background: white;
  width: 150px;
  transform: rotate(90deg);
  float: right;
}

.msg {
  text-align: center;
  text-transform: uppercase;
  font-size: 0.9em;
  font-family: Oswald;
  font-weight: 500;
  letter-spacing: 0.05em;
}

.caption {
  width: 50vw;
  margin: auto;
}

.captionTxt {
  width: 100%;
  margin: 0 auto;
  display: inline-block;
  font-family: var(--captions);
  color: var(--headings);
  font-size: 3em;
  font-weight: 600;
  letter-spacing: 0.02em;
}

.subcaption {
  font-family: var(--body);
  letter-spacing: 0.2em;
  font-size: 1.4em;
  padding-top: 0.5em;
  margin: 1em auto;
  width: 40vw;
}

.brandMsg {
  width: 30vw;
}

.mission.container {
  border-left: 1px solid black;
  border-right: none;
}

.mission .subcaptionTxt {
  font-size: 0.8em;
}

.mission .captionTxt {
  font-size: 1.5em;
  color: black;
  font-weight: 600;
  font-family: var(--body);
}

.mission .msgWrapper {
  left: -4.6em;
  float: none;
}

.about.container {
  border-left: 1px solid black;
  border-right: none;
  padding-bottom: 0;
}

.about .msgWrapper {
  float: left;
  left: -4.6em;
  width: auto;
}

.about .msg {
  position: relative;
  top: -1.2em;
  width: 8em;
  left: -1.2em;
  background-color: white;
}
.about .captionTxt {
  width: 20vw;
  font-size: 2em;
  padding-bottom: 1em;
}

@media only screen and (max-width: 900px) {
  .caption {
    width: 70vw;
  }
  .subcaption {
    width: 80vw;
  }
  .about .captionTxt {
    width: 100%;
  }
}
