.container {
  overflow: hidden;

  display: grid;
  grid-template-columns: 46vw 46vw;
  grid-template-rows: 50% 50%;
  grid-gap: 3vw;
  align-items: center;
  margin: auto;
}

.imgWrapper {
  width: 100%;
  height: 100%;
  margin: auto;
}

.productImg {
  display: block;
  margin: auto;
  width: 100%;
  height: 90vh;
  background-position: center;
  background-size: cover;
}

.imgLink {
  position: absolute;
  width: 46vw;
  height: 100%;
  display: inline-block;
  background: transparent;
  z-index: 1000;
}

.captionWrapper {
  text-align: center;
  padding-top: 1em;
}

.caption {
  color: var(--headings);
  font-size: 2em;
  font-weight: 600;
}

.price,
.button {
  font-weight: 600;
}

.caption,
.button {
  font-family: var(--body);
}

.price {
  padding: 1em 0;
}

.button {
  border: 2px solid var(--beige);
  max-width: 30em;
  padding: 1em 2em;
  display: inline-block;
}

@media all and (min-width: 320px) and (max-width: 768px) {
  .container {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 1fr;
    grid-gap: 1em;
    align-items: center;
    margin: auto;
  }

  .imgWrapper {
    margin-bottom: 2em;
  }

  .imgLink {
    width: var(--container);
  }

  .productImg {
    height: 70vh;
  }

  .caption {
    font-size: 1.5em;
  }

  .button {
    padding: 1em 1.3em;
    font-size: 0.9em;
  }
}
