.container {
  text-align: center;
  flex-wrap: wrap;
  border: none;
}

.imgWrapper {
  height: 35em;
  flex: 1;
  display: grid;
  grid-template-columns: 15em 15em;
  grid-template-rows: 15em 15em;
  column-gap: 1em;
  row-gap: 1em;
  justify-content: end;
}

.textWrapper {
  flex: 1;
}

.img {
  height: 15em;
  width: 15em;
  background-size: cover;
  background-position: center;
}

.img1 {
  background-image: url("../../img/social1.jpg");
}

.img2 {
  background-image: url("../../img/social2.jpg");
}

.img3 {
  background-image: url("../../img/social3.jpg");
}

.img4 {
  background-image: url("../../img/social4.jpg");
}

.logo {
  height: 10em;
  width: 15em;
  margin-bottom: 1em;
}

.link {
  padding: 1em;
  cursor: pointer;
}

@media only screen and (max-width: 768px) {
  .textWrapper {
    margin: 2em 0;
  }

  .imgWrapper {
    height: 100%;
    display: grid;
    grid-template-columns: 10em 10em;
    grid-template-rows: 10em 10em;
    column-gap: 0.5em;
    row-gap: 0.5em;
    justify-content: center;
  }

  .img {
    height: 10em;
    width: 10em;
  }

  .logo {
    height: 7em;
    width: 12em;
  }

  .socialIcon {
    width: 1em;
  }
}

@media all and (min-width: 768px) and (max-width: 1024px) {
  .imgWrapper {
    height: 100%;
    display: grid;
    grid-template-columns: 10em 10em;
    grid-template-rows: 10em 10em;
    column-gap: 0.5em;
    row-gap: 0.5em;
    justify-content: center;
  }

  .img {
    height: 10em;
    width: 10em;
  }
}

@media all and (min-width: 1024px) and (max-width: 1280px) {
  .imgWrapper {
    height: 35em;
    flex: 1;
    display: grid;
    grid-template-columns: 12em 12em;
    grid-template-rows: 12em 12em;
    column-gap: 1em;
    row-gap: 1em;
    justify-content: end;
  }

  .img {
    height: 12em;
    width: 12em;
  }
}
