.wrapperOutter {
  margin: 2em;
}

.wrapperInner {
  margin: 2em 0;
  display: flex;
  flex-direction: column;
}

.input {
  border-width: 0 0 1px 0;
  border-color: black;
  height: 2em;
  margin-right: 1em;
  background: var(--color-background);
}

label {
  margin-top: 2em;
}

.input:focus {
  outline: none;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.column {
  display: flex;
  flex-direction: column;
  flex-basis: 50%;
  flex: 1;
}

.btn {
  align-self: flex-start;
}

.errorMsg {
  font-weight: 600;
  font-size: 0.9em;
  text-align: left;
}

.checkoutPageSubmit {
  margin-top: 2rem;
}

@media all and (min-width: 320px) and (max-width: 480px) {
  .errorMsg {
    text-align: center;
  }
}
