.imgWrapper {
  height: 70vh;
  width: 50vw;
}

.img {
  background-image: url("../img/styling2.jpg");
  background-size: cover;
  background-position: center;
  object-fit: contain;
  height: 100%;
  width: 30vw;
  float: right;
}

.text {
  width: 50vw;
}

.about .img {
  background-image: url("../img/about.jpg");
  float: left;
}
