.container {
  text-align: center;
}

/* .caption {
  width: 100%;
  margin: auto;
} */

.captionTxt {
  width: 100%;
  margin: 0 auto;
  display: inline-block;
}

.subcaption {
  padding-top: 0.5em;
  margin: 1em auto;
  width: 30vw;
}

/* ABOUT SECTION MAIN PAGE */

.about.container {
  padding-bottom: 0;
}

.about .captionTxt {
  width: 20vw;
  padding-bottom: 1em;
}

.about .msgWrapper {
  left: -5.6em;
  top: 5px;
  float: none;
}

/* FEATURED SECTION MAIN PAGE */

.featured .subcaption,
.featured .subcaptionTxt {
  width: 20vw;
}

/* ABOUT PAGE */

.aboutPageSubHeader .subcaption {
  display: none;
}

.aboutProduct .captionTxt {
  font-weight: 400;
  /* font-size: 1.8em; */
  font-family: var(--font-primary);
}

.aboutMaterials .caption {
  font-weight: 600;
  font-size: 1.4em;
}

@media all and (min-width: 360px) and (max-width: 768px) {
  .subcaption {
    width: 80vw;
    /* font-size: 1.2em; */
  }
}

@media all and (min-width: 320px) and (max-width: 1024px) {
  .caption {
    width: 77%;
  }

  .about .msgWrapper {
    top: 8px;
  }

  .aboutProduct.container,
  .aboutMaterials.container {
    flex-direction: column;
    padding-top: 0;
  }
}

@media all and (min-width: 320px) and (max-width: 769px) {
  .captionTxt {
    /* font-size: 1.3em; */
  }

  .subcaption {
    width: 80vw;
  }

  .subcaptionTxt {
    /* font-size: 0.7em; */
  }

  .about .captionTxt {
    /* font-size: 1.4em; */
  }

  .about .captionTxt,
  .featured .subcaption,
  .featured .subcaptionTxt {
    width: 100%;
  }
}

@media all and (min-width: 360px) and (max-width: 1024px) {
  .about .captionTxt {
    width: 100%;
    font-size: 1.6em;
  }
}

@media all and (min-width: 1024px) and (max-width: 1280px) {
  .about .captionTxt {
    width: 30vw;
    /* font-size: 1.6em; */
  }
}
