.images {
  margin-top: var(--section);

  justify-content: space-between;
}

.img {
  width: 42vw;
  height: 70vh;
}
/* TODO rename img classes according to sections */
.img1 {
  background-image: url("../img/DSC_4256.jpg");
  background-size: cover;
  background-position: center;
  object-fit: cover;
}

.img2 {
  background-image: url("../img/slider3.jpg");
  object-fit: contain;
  background-size: cover;
}

.img3 {
  background-image: url("../img/products1.jpg");
  background-size: cover;
  background-position: center;
  object-fit: contain;
}

.img4 {
  background-image: url("../img/products2.jpg");
  object-fit: contain;
  background-size: cover;
}
