@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@200;300;400;600&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap");

@font-face {
  font-family: Voga;
  src: url("../src/fonts/Voga-Medium.otf");
}
@font-face {
  font-family: VogaRegular;
  src: url("../src/fonts/Voga-Regular.ttf");
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Raleway";
  color: rgba(57, 57, 57, 1); /* TODO */
}

img,
a {
  border: none;
  outline: none;
}

:root {
  --text: rgba(57, 57, 57, 1);
  --section: 5em;
}

.d-flex {
  display: flex;
}

.text-column {
  display: flex;
  flex-direction: column;
}

li {
  list-style: none;
}

.container {
  width: 90vw;
  margin: auto;
}

.header__container {
  width: 90vw;
  margin: auto;
}
.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 3em;
  padding-top: 1em;
}

.nav__links {
  display: flex;
  padding: 0;
}

.nav__link {
  margin-right: 2em;
  text-transform: lowercase;
  letter-spacing: 0.2em;
  font-weight: 600;
  color: black;
  font-size: 1em;
  font-family: "Raleway";
}

.nav__logo-img {
  height: 30%;
  width: 30%;
  float: right;
}
.header {
  height: 60vh;
}

.header__images {
  display: flex;
  overflow: hidden;
}
.header__img {
  /* width: 100%; */
  width: 23vw;
  height: 60vh;
  /* flex-shrink: 1; */
}

.mission {
  display: block;
  height: 100%;
}
