@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@200;300;400;600&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap");

@font-face {
  font-family: Voga;
  src: url("../src/fonts/Voga-Medium.otf");
}
@font-face {
  font-family: VogaRegular;
  src: url("../src/fonts/Voga-Regular.ttf");
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Raleway";
  color: rgba(57, 57, 57, 1); /* TODO */
}

:root {
  --text: rgba(57, 57, 57, 1);
  --headings: #dbdbdb;
  --beige: rgb(234, 227, 217);
  --section: 5em;
  --text-font: "Raleway";
  --captions: "VogaRegular";
  --caption-size: 4em;
}

.d-flex {
  display: flex;
}

.text-column {
  display: flex;
  flex-direction: column;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.container {
  width: 90vw;
  margin: auto;
}
