@font-face {
  font-family: ChamberiLight;
  src: url("../src/fonts/ChamberiDisplay-ExtraLight.otf") format("otf"),
    url("../src/fonts/ChamberiDisplay-ExtraLight.otf");
}
@font-face {
  font-family: ChamberiRegular;
  src: url("../src/fonts/ChamberiDisplay-Regular.otf") format("otf"),
    url("../src/fonts/ChamberiDisplay-Regular.otf");
}

@font-face {
  font-family: Torinout;
  src: url("../src/fonts/perlaalternate.ttf");
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  /* base values */
  --text-base-size: 1.1em;
  --text-scale-ratio: 1.5;

  /* type scale */
  --text-xs: calc((var(--text-base-size)) / (var(--text-scale-ratio) * 0.7));
  --text-sm: var(--text-base-size);
  --text-md: calc((var(--text-base-size)) * var(--text-scale-ratio));
  --text-lg: calc((var(--text-base-size)) * var(--text-scale-ratio));
  --text-xl: calc(
    (var(--text-base-size)) * var(--text-scale-ratio) * var(--text-scale-ratio)
  );
  --text-xxl: calc(
    (var(--text-base-size)) * var(--text-scale-ratio) * var(--text-scale-ratio) *
      var(--text-scale-ratio)
  );

  /* fonts */
  --font-primary: "Raleway", serif;
  --font-secondary: "ChamberiRegular", serif;
  --font-accent: "Torinout", serif;
  --font-light: "ChamberiLight", serif;

  /* text styling */
  --letter-spacing: 0.05rem;
  --line-height: 1.5;
  --heading-line-height: 1.2;
  --body-line-height: 1.4;

  /* colors */
  --color-text: rgb(66 65 65);
  --color-headings: rgb(123 123 123);
  --color-background: #fdf8f4;
  --color-beige: rgb(234, 227, 217);
  --color-gray: #e0dbda;

  /* borders */
  --border-beige: 2px solid rgb(234, 227, 217);
  --border-gray: 2px solid #e0dbda;
  --border-btn: 2px solid #e0dbda;

  --section: 8rem;
  --transition: 1s ease-in-out;
  --container: 85vw;
}

body {
  background-color: var(--color-background);
  font-size: var(--text-base-size);
  font-family: var(--font-primary);
  color: var(--color-text);
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--color-text);
}

a,
button {
  cursor: pointer;
}

a:hover,
button:hover {
  opacity: 0.7;
  transition: opacity 0.5s ease;
}

h1 {
  font-family: var(--font-light);
  font-size: var(--text-xl);
  text-transform: uppercase;
}

h2 {
  font-family: var(--font-secondary);
  font-size: var(--text-xl);
  font-weight: 500;
  line-height: var(--line-height);
  text-transform: uppercase;
}

h3 {
  font-family: var(--font-primary);
  font-size: var(--text-sm);
  font-weight: 400;
}

h1,
h2 {
  letter-spacing: var(--letter-spacing);
}

p {
  font-size: var(--text-sm);
  line-height: var(--line-height);
}

section,
footer {
  padding-top: var(--section);
}

.container {
  width: 85vw;
  margin: auto;
}

.d-flex {
  display: flex;
}

.visually-hidden {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.btn-black {
  width: 10rem;
  height: 2.5rem;
  font-size: 1.1rem;
  background: black;
  color: white;
  border: none;
}

.mainPage {
  overflow: hidden;
}

/* Slider */
/* Main page slider */
.slider-main {
  width: 85vw;
  margin: auto;
}

.slick-slide img {
  object-fit: cover;
  object-position: center;
}

.slider-main .slick-prev,
.slider-main .slick-next {
  color: black;
  height: 35px;
  width: 35px;
  top: 40%;
}

.slider-main .slick-prev,
.slider-main .slick-prev:hover,
.slider-main .slick-prev:focus,
.slider-main .slick-next,
.slider-main .slick-next:hover,
.slider-main .slick-next:focus {
  background-image: url("../src/icons/next.png");
  color: black;
  outline: initial;
  z-index: 500;
}
.slider-main .slick-prev {
  transform: rotate(90deg);
}

.slider-main .slick-next {
  transform: rotate(-90deg);
}

.slider-main .slick-slide img {
  width: 20vw;
  height: 50vh;
  transition: height 0.5s ease;
}

.slider-main .slick-prev:before,
.slider-main .slick-next:before {
  content: "";
}

.slider-main .slick-center img {
  object-fit: cover;
  height: 60vh;
  margin: auto;
  transition: height 0.5s ease;
}

.loaded ~ .placeholder {
  display: none;
  transform: translate(1000px);
}
/* Product page slider */
.productSlider button.slick-arrow.slick-next {
  left: -0.4rem;
  top: 102%;
  width: 3rem;
  height: 2rem;
}

.productSlider button.slick-arrow.slick-next::before {
  content: "next";
  color: black;
  font-family: var(--font-primary);
  font-weight: 600;
}

.productSlider .slick-slide img {
  height: 50vh;
  object-fit: cover;
  object-position: center;
  width: 30rem;
}

.productSlider .slick-prev {
  display: none !important;
}

@media all and (min-width: 320px) and (max-width: 500px) {
  :root {
    --text-base-size: 0.9em;
    --container: 95vw;
  }
}

@media all and (min-width: 320px) and (max-width: 768px) {
  :root {
    --section: 5rem;
  }
  .slider-main .slick-slide img {
    width: 80%;
  }
}

@media all and (min-width: 320px) and (max-width: 768px) {
  :root {
    --section: 3rem;
  }

  .container {
    width: 95vw;
    height: 100%;
  }

  .btn-black {
    font-size: 1em;
  }

  .slider-main .slick-slide img {
    width: 90%;
    height: 45vh;
    object-position: center;
  }

  .slider-main .slick-center img {
    height: 55vh;
  }
}

@media all and (min-width: 500px) and (max-width: 1024px) {
  .slider-main .slick-slide img {
    width: 90%;
    height: 30vh;
  }

  .slider-main .slick-center img {
    height: 35vh;
  }
}
