.hero,
.container {
  height: auto;
}

.wrapper {
  height: 70vh;
  display: flex;
  flex-wrap: wrap;
  width: inherit;
}

.section {
  width: 31%;
  margin: auto;
}

.img1 {
  float: right;
}

.img2 {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.captionWrapper {
  position: relative;
  right: 5%;
  bottom: 10%;
}

.caption {
  overflow: hidden;
  font-size: var(--text-xxl);
}

.subcaption {
  margin-left: 2rem;
  margin-top: 0.5rem;
  font-size: var(--text-sm);
  letter-spacing: 0;
  font-family: var(--primary);
  text-transform: lowercase;
  display: inline-block;
  height: 100%;
  width: 70%;
}

@media all and (min-width: 320px) and (max-width: 768px) {
  .wrapper {
    height: auto;
    width: 100%;
    padding-top: var(--section);
  }

  .section {
    width: 50%;
  }

  .section:last-of-type {
    width: 100%;
    margin: auto;
    text-align: center;
  }

  .img1 {
    height: 10rem;
    margin-right: 1rem;
    margin-left: 1rem;
  }

  .img2 {
    width: 90%;
  }

  .captionWrapper {
    bottom: 0;
    right: 0;
  }

  .captionOutter {
    position: relative;
    text-align: left;
    width: 90%;
    margin: auto;
  }

  .caption {
    font-size: var(--text-lg);
  }

  .subcaption {
    margin-bottom: 2rem;
  }
}
