.container {
  display: flex;
  align-items: center;
  padding-bottom: 3em;
  padding-top: 1em;
}

.navLinks {
  display: flex;
}

.navLink {
  margin-right: 2em;
  text-transform: lowercase;
  letter-spacing: 0.2em;
  font-weight: 600;
  color: black;
  font-size: 1em;
  font-family: var(--body);
}

.logoDesktopLink {
  margin-left: auto;
}

.logoDesktopImg {
  height: 30%;
  width: 30%;
  float: right;
}

.logoMobileLink {
  display: none;
}

.logoMobileImg,
.logoMobileLink {
  display: none;
}

.cart {
  border: none;
  background: white;
  margin-top: auto;
  margin-bottom: auto;
  margin-right: 0;
}

.closeBtn,
.burgerBtn {
  outline: none;
  border: none;
  background: white;
  text-align: right;
}

.closeBtn {
  justify-content: flex-start;
}

.closeIcon {
  width: 1.3em;
  height: 1.3em;
}

.burgerIcon {
  width: 2em;
  height: 2em;
  background: white;
}

@media only screen and (max-width: 768px) {
  .container {
    padding-top: 2em;
    justify-content: space-between;
  }

  .wrapperInner {
    display: flex;
    flex-direction: column;
    height: 40vh;
    justify-content: space-between;
  }

  .wrapperMobile {
    width: 100%;
    display: flex;
    justify-content: space-betweens;
  }

  .logoDesktopLink {
    display: none;
  }

  .logoMobileLink {
    display: block;
    margin: auto;
  }

  .logoMobileImg {
    display: block;
    height: 5em;
    width: 8em;
  }

  .cart {
    width: 5em;
    letter-spacing: initial;
    text-align: right;
  }

  .burgerBtn {
    width: 5em;
  }

  .burgerIcon {
    float: left;
  }
  .navLinks {
    width: 60vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: -100%;
    transition: left var(--transition);
    background: white;
    border-right: var(--border);
    z-index: 100;
    padding: 2em;
  }

  .wrapperInner .navLink::after {
    content: "";
    border-bottom: 2px solid var(--beige);
    width: 100%;
    display: inline-block;
    position: relative;
    top: -0.7em;
  }

  .open {
    left: 0;
  }
}

@media only screen and (min-width: 768px) and (max-width: 990px) {
  .navLinks {
    width: 30vw;
  }

  .logoMobileImg {
    display: block;
  }
}

@media only screen and (min-width: 990px) {
  .burgerBtn,
  .closeBtn {
    display: none;
  }
}
