.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 3em;
  padding-top: 1em;
}

.navLinks {
  display: flex;
}

.navLink {
  margin-right: 2em;
  text-transform: lowercase;
  letter-spacing: 0.2em;
  font-weight: 500;
  font-size: var(--text-sm);
  font-family: var(--body);
  color: black;
}

.cartIcon {
  width: 2rem;
  height: 2rem;
  border: var(--border-btn);
  border-radius: 50%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.wrapperDesktop {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapperMobile {
  display: none;
}

.logoDesktopImg {
  width: 60%;
}

.logoMobileLink {
  display: none;
}

.logoMobileImg,
.logoMobileLink {
  display: none;
}

.cart {
  border: none;
  background: var(--color-background);
  margin-top: auto;
  margin-bottom: auto;
  margin-right: 0;
}

.closeBurgerBtn,
.burgerBtn {
  outline: none;
  border: none;
  text-align: right;
}

.closeBurgerBtn {
  justify-content: flex-start;
  background: white;
}

.closeIcon {
  width: 1.3em;
  height: 1.3em;
}

.burgerBtn,
.burderIcon {
  background: var(--color-background);
}

.burgerIcon {
  width: 1.5em;
  height: 1.2em;
}

@media all and (min-width: 320px) and (max-width: 767px) {
  .container {
    padding-top: 0;
    padding-bottom: 0;
    justify-content: space-between;
  }

  .wrapperDesktop {
    display: flex;
    flex-direction: column;
    height: 40vh;
    justify-content: space-between;
  }

  .wrapperMobile {
    width: 100%;
    display: flex;
  }

  .wrapperMobile .navLink {
    display: inline-block;
    width: 100%;
  }
  .logoDesktopLink {
    display: none;
  }

  .logoMobileLink {
    display: block;
    margin: auto;
  }

  .logoMobileImg {
    display: block;
    height: 7em;
  }

  .cartIcon {
    width: 1.5rem;
    height: 1.5rem;
  }

  .wrapperDesktop .cart {
    display: none;
  }

  .wrapperMobile .cart {
    display: block;
    letter-spacing: initial;
    text-align: right;
    font-size: initial;
  }

  .wrapperMobile .cart,
  .burgerBtn {
    width: 4em;
  }

  .burgerIcon {
    float: left;
  }

  .listItem {
    align-self: flex-start;
    width: 100%;
  }

  .navLinks {
    width: 60vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: -100%;
    transition: left var(--transition);
    background: white;
    z-index: 100;
    padding: 2em;
  }

  .wrapperDesktop .navLink::after {
    content: "";
    border-bottom: var(--border-gray);
    width: 100%;
    display: inline-block;
    position: relative;
    top: -0.7em;
  }

  .open {
    left: 0;
  }
}

@media all and (min-width: 768px) {
  .cart {
    display: inline;
  }

  .wrapperMobile .cart {
    display: none;
  }

  .logoMobileImg {
    display: block;
  }

  .burgerBtn,
  .closeBurgerBtn {
    display: none;
  }
}
