.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 3em;
  padding-top: 1em;
}

.navLinks {
  display: flex;
  padding: 0;
}

.navLink {
  margin-right: 2em;
  text-transform: lowercase;
  letter-spacing: 0.2em;
  font-weight: 600;
  color: black;
  font-size: 1em;
  font-family: var(--body);
}

.navLogoImg {
  height: 30%;
  width: 30%;
  float: right;
}

.cart {
  border: none;
  background: white;
}

@media only screen and (max-width: 900px) {
  .navLink {
    margin-right: 0.5em;
    font-size: 0.8em;
  }
  .navLogoImg {
    height: 3em;
    width: 5em;
    float: right;
  }
}
